<h1>New Topic</h1>

<%= form_tag({controller: 'topics', action: 'create'}, method: 'post') do %>
  <%= render 'form' %>
  <div class="actions">
    <%= submit_tag('Create Topic') %>
  </div>
<% end %>

<%= link_to 'Back', topics_path %>
